<% if (errors) {%>
  <% errors.forEach(function (error) { %>
    <%= __(error) %>
  <% }) %>
<% } %>

<form role="form" action="/clients/local/register" method="post">
  <input type="text" name="name" placeholder="Client Name">
  <input type="text" name="email" placeholder="Email">
  <!-- <input type="password" name="password" placeholder="Password"> -->
  <button type="submit">Register</button>
</form>
