<% if (errors) {%>
  <% errors.forEach(function (error) { %>
    <%= __(error) %>
  <% }) %>
<% } %>

<form role="form" action="/oauth/token" method="post">
  <input type="text" name="grant_type" placeholder="Grant Type">
  <input type="text" name="client_id" placeholder="Client ID">
  <input type="text" name="username" placeholder="User Name">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Login</button>
</form>